# Clean MTA Data

In [123]:
%%javascript
IPython.OutputArea.auto_scroll_threshold = 9999;

In [137]:
## This program is used to clean out the data from the csv that you collected.
## It aims at removing duplicate entries and extracting any further insights
## that the author(s) of the code may see fit

## Usage (for file as is currently): python buildTrainingDataSet.py <filename of file from part 1>

import sys

# Pandas is a python library used for data analysis
import pandas
from pandas import read_csv
from pytz import timezone
from datetime import datetime
from pandas import DataFrame
from numpy.random import randint


TIMEZONE = timezone('America/New_York')

In [138]:
rawData = pandas.read_csv('finalData.csv')

In [142]:
rawData.head()

,tripId (S),NinetySixArrive (S),TimesSquareArrive (S),dow (S),routeId (S),ts (N)
0,817.5,846,859,weekday,1,859
1,1198.0,1225,1237,weekend,1,1238
2,982.0,997,1004,weekday,3,1005
3,925.5,952,965,weekend,1,967
4,532.5,562,577,weekday,1,579

In [143]:
df = rawData
#pd.to_numeric(df['TimesSquareArrive'])
#pd.to_numeric(df['NinetySixArrive'])

In [144]:
df['travelTime'] = df['TimesSquareArrive (S)'].sub(df['NinetySixArrive (S)'])

In [129]:
#df

In [145]:
df['routeId (S)'] = df['routeId (S)'].replace({1: 'local', 2: 'express', 3: 'express'})

In [146]:
df.head()

,tripId (S),NinetySixArrive (S),TimesSquareArrive (S),dow (S),routeId (S),ts (N),travelTime
0,817.5,846,859,weekday,local,859,13
1,1198.0,1225,1237,weekend,local,1238,12
2,982.0,997,1004,weekday,express,1005,7
3,925.5,952,965,weekend,local,967,13
4,532.5,562,577,weekday,local,579,15

In [147]:
finalData = pandas.DataFrame(df)

In [148]:
finalData.to_csv("finalData1.csv",index=False)